<div>
    <mat-card class="cardHolder">
      <mat-card-title>Categories</mat-card-title>
  <mat-card *ngFor="let category of categories">
    <!--<mat-card-title>{{category.title}}</mat-card-title>-->
    <mat-card-title>Lorem Ipsum</mat-card-title>
  </mat-card>
      <mat-card *ngFor="let category of categories">
        <!--<mat-card-title>{{category.title}}</mat-card-title>-->
        <mat-card-title>Lorem Ipsum</mat-card-title>
      </mat-card>  <mat-card *ngFor="let category of categories">
      <!--<mat-card-title>{{category.title}}</mat-card-title>-->
      <mat-card-title>Lorem Ipsum</mat-card-title>
    </mat-card>

    </mat-card>
</div>

