.topPageMessage {
  width: 100%;
}

mat-card {
  float: left;
  margin: 10px;
}

.cardHolder {
  background-color: #F8F8F8;
  width: 100%;
  mat-card {
    width: 150px;
    text-align: center;
  }

}
