<div>
  <mat-card class="topPageMessage">
    <h1>Welcome!</h1>
    <p>is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze
      bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde
      om een font-catalogus te maken. Het heeft niet alleen vijf e</p>
  </mat-card>

  <mat-card class="cardHolder">
    <mat-card-title><h3>Categories</h3></mat-card-title>
    <mat-card *ngFor="let category of categories">
      <mat-card-title>{{category.title}}</mat-card-title>
    </mat-card>
  </mat-card>
</div>

